.wrapper {
	text-align: center;
	width: 100% !important;
}

.description {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}

.border-bottom {
	border-bottom: 1px lightgray solid;
}

.bold {
	font-weight: bold;
}

.add-top-margin {
    margin-top: 50px !important;
}

.node {
	cursor: pointer;
}

.node:hover {
	stroke: #000;
	stroke-width: 1.5px;
}

.node--leaf {
	fill: white;
}

.label {
	font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-anchor: middle;
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label {
	pointer-events: none;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 500px;
	height: 80px;
	padding: 2px;
	font: 12px sans-serif;
	color: white;
	background: rgba(77,77,77,0.7);
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.bold {
	font-weight: bold;
}

.label,
.node--root,
.node--leaf {
	/*pointer-events: none;*/
}


